{{ define "nav" }}
<nav>
    <ul>
        <li>
            <a href="/overview">Overview</a>
        </li>
        <li>
            <a href="/camper-info">Camper Info</a>
        </li>
    </ul>
</nav>
{{ end }}
